a {
	scroll-behavior: smooth;
	scroll-snap-type: proximity;
}

p {
	color: #747474;
}

section {
	width: 100%;
	min-height: 75vh;
}

.bi.white {
	transition: 1s;
}

.bi.white:hover {
	color: #1e1e1f;
}

.bi.white:active {
	color: #1e1e1f;
	transition: 0s;
}

.twhite {
	color: white;
	transition: 0.25s;
}
.twhite:hover {
	color: #1e1e1f;
}

.tblack {
	color: #1e1e1f;
	transition: 0.25s;
}
.tblack:hover {
	color: white;
}

.logo {
	height: 8vh;
}

#navbar {
	transition: 1s;
}

.navlink {
	color: #1e1e1f;
	padding: 0.75rem;
}
.navlink:hover {
	color: white;
}
.navlink-active {
	background-color: #00401e;
	border-radius: 0.5em;
	color: white;
}

.white {
	color: white;
}
.black {
	color: #1e1e1f;
}
.hover-white:hover {
	color: white;
}
.hover-black:hover {
	color: #1e1e1f;
}

.bg-pastel {
	background-color: #f1ead1;
}
.bg-green {
	background-color: #105037;
}
.bg-yellow {
	background-color: #fdd65b;
}

/* Custom CSS */
.card-image {
	width: 100%;
	height: calc(width * 3 / 4);
	object-fit: cover;
}

@media screen and (min-width: 991.98px) {
	section {
		width: 100%;
		min-height: 100vh;
	}
}

@media screen and (min-width: 767px) {
	.navham {
		visibility: hidden;
		width: 0;
		height: 0;
		position: absolute;
	}
}

@media screen and (max-width: 767.98px) {
	.navmobile {
		background-color: #fff;
		position: absolute;
		transition: 1s;
		width: 40vw;
		height: calc(100vh + 0.5rem);
		right: -40vw;
		top: -0.5rem;
		padding-top: calc(4.3em + 8vh + 0.75rem);
		padding-left: 2em;
		z-index: -1;
	}
	.navmobile-show {
		right: 0vw;
	}

	.navlink {
		color: #1e1e1f;
		padding: 0.75rem;
	}
	.navlink:hover {
		color: black;
	}
	.navlink-active {
		background-color: white;
		border-radius: 0.5em;
		color: #ffc107;
		font-weight: bolder;
	}
}

@media screen and (max-width: 575.98px) {
	.logo {
		height: 6vh;
	}
	.navmobile {
		width: 60vw;
		right: -70vw;
		padding-top: calc(3em + 8vh + 0.75rem);
	}
	.navmobile-show {
		right: 0vw;
	}
}
